In [1]:
import numpy as np
import pandas as pd

In [2]:
df = DataFramee([[1.4,np.nan],[7.1,-4.5],[np.nan,np.nan],[0.75,-1.3]],index=list("abcd"),columns=["one","two"])

NameError: name 'DataFramee' is not defined

In [3]:
df = pd.DataFrame([[1.4,np.nan],[7.1,-4.5],[np.nan,np.nan],[0.75,-1.3]],index=list("abcd"),columns=["one","two"])

In [4]:
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [5]:
df.sum

<bound method DataFrame.sum of     one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3>

In [6]:
df.sum()

one    9.25
two   -5.80
dtype: float64

In [7]:
df.sum(axis = "columns")

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [8]:
df.mean()

one    3.083333
two   -2.900000
dtype: float64

In [9]:
df.idmax()

AttributeError: 'DataFrame' object has no attribute 'idmax'

In [10]:
df.cumsum()

    one  two
a  1.40  NaN
b  8.50 -4.5
c   NaN  NaN
d  9.25 -5.8

In [11]:
df.idxmax()

one    b
two    d
dtype: object

In [12]:
df.describe()

            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000

In [13]:
obj = pd.Series(list("cadaabbcc"))

In [14]:
obj

0    c
1    a
2    d
3    a
4    a
5    b
6    b
7    c
8    c
dtype: object

In [15]:
obj.value_count()

AttributeError: 'Series' object has no attribute 'value_count'

In [16]:
obj.value_counts()

c    3
a    3
b    2
d    1
Name: count, dtype: int64

In [17]:
obj.unique()

array(['c', 'a', 'd', 'b'], dtype=object)

In [18]:
obj.to_numpy()

array(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'], dtype=object)

In [19]:
mask = obj.isin(list("bc"))

In [20]:
mask

0     True
1    False
2    False
3    False
4    False
5     True
6     True
7     True
8     True
dtype: bool

In [21]:
to_match = pd.Series(["cabbca"])

In [22]:
unique_vals = pd.Series(list("cba"))

In [23]:
unique_vals

0    c
1    b
2    a
dtype: object